<div class="home">
    <div class="half-section">
            <div class="first-section">
                <p class="main-text">
                    AI Resume Analyser
                <p class="description">
                    Our AI-powered system is like a personal job-search assistant for students!
                    It analyzes resumes to rate job suitability & helps corporations to find the right candidates.
                    Let's find you the perfect job!
                </p>
            </div>
            <div class="second-section">
            <div class="image">
                <img class="telescope" src="assets/images/img.jpg">
            </div>
            </div>
    </div>
</div>