
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    background-color: #3F56D3;
}
.navitem{
    cursor: pointer;
    color: antiquewhite;
    font-weight: bold;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1.6rem;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}
.navitem:hover{
    background-color: #808eda;
    color: white;
}