
<div class="half-section">
    <div class="first-section">
        <p class="left-side">
        About
        </p>
        <p class="edited">
            Our AI-powered system provides a comprehensive solution for students and corporations in the job market. The system employs natural language processing and machine learning algorithms to analyze student resumes and provide job suitability ratings. On the other hand, recruiters can take advantage of the system's user-friendly interface to find suitable candidates, streamline the recruitment process, and track applicants. Our ultimate aim is to optimize the job search and recruitment process to benefit both job seekers and corporations.
        </p>
    </div>
    <div class="second-section">
        <div class="right-side">
            <div class="first-part">
            <a href="https://github.com/agamswaroop619"  target="_blank">
            <img class="giticon" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
        </a>
        </div>
        <div class="second-part">
            <a href="https://www.linkedin.com/in/atam-swaroop-47974a257" target="_blank">
            <img class="inicon" src="https://icons-for-free.com/iconfiles/png/512/linkedin+icon-1320168276873005114.png">
        </a>
        </div>
        </div>
    </div>
</div>