
<div class="half-section">
    <div class="first-section">
        <p class="left-side">
        About Us
        </p>
    </div>
    <div class="second-section">
        <div class="right-side">
            <div class="first-part">
            <a href="https://github.com/agamswaroop619"  target="_blank">
            <img class="giticon" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
        </a>
        </div>
        <div class="second-part">
            <a href="https://www.linkedin.com/in/atam-swaroop-47974a257" target="_blank">
            <img class="inicon" src="https://icons-for-free.com/iconfiles/png/512/linkedin+icon-1320168276873005114.png">
        </a>
        </div>
        </div>
    </div>
</div>